

.footer{
    background: #072142;
    padding: 1rem;
    color: white;
    width: 100%;

    .container{
        // text-align: center;
        display: grid;
        grid-template-columns: 100%;
        
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
    
    a{
        color: white;
    }
    .code{
        a{
            border-bottom: 2px solid #ff4d5a;
        }
    }
    .contact{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        a{
            margin: .5rem;
            font-size: 1.5rem;
        }
    }
    .me{
        color: $primary-color;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 1.2rem;
    }
    @include tablet(){
        .container{
            text-align: none;
            display: grid;
            grid-template-columns: repeat(auto-fill, 350px);
            justify-content: space-between;

        }
        .code{
            text-align: end;
        }
    }
}