html {
    scroll-behavior: smooth;
}
.primary-color{
    background-color: $primary-color;
}

.title{
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
    font-family: $secondary-font;
    position: relative;
    font-weight: 500;
}
.title::before {
    content: "";
    position: absolute;
    bottom: -13px;
    margin-top: 2rem;
    left: 50%;
    width: 180px;
    height: 4px;
    border-radius: 50px;
    background: $primary-color;
    transform: translateX(-50%);
}

.title::after {
    position: absolute;
    bottom: -22px;
    left: 50%;
    font-size: 20px;
    color: $primary-color;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about-me{
    // background-image: url('/public/img/me.jpg');
    // height: 100vh;
    margin: 2rem 0 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .about-container{
        display: grid;
        align-content: center;
        text-align: center;
        .title::after {
            content: "Quien soy"; 
        }
        .container{
            align-content: space-between;
        }
        .description{
            font-size: 1rem;
            padding: 2rem;
        }
        .btn{
            text-transform: uppercase;
        }

        @include tablet(){

            .title{
                font-size: 3rem;
                padding: 1rem;
                font-family: $secondary-font;
            }
            .description{
                font-size: 2rem;
                padding: 2rem;
    
            }

        }
    }
}
.btn{
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}


.btn-primary{
    background-color: $primary-color;
    color: white;
    border: 2px solid $primary-color; 
    transition: all 0.3s ease;
    padding: 1rem 2rem;

}

.btn-primary:hover{
    background-color: transparent;
    // color: $primary-color;   
    transition: all 0.3s ease;
    // border: 2px solid $primary-color; 
}
body{
    &.has-menu-open {
        overflow: hidden;
    }
}
   