

.skill-container{
 
    .title::after {
        content: "skills"; 
    }
    .skill-description{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 100%);
        padding: 1rem;
        .skill{
            margin: .5rem ;
        }
        .description{
            display: flex;
            justify-content: space-between;
            font-family: $primary-font;
            font-size: 1.2rem;
            color: #072142;
        }
        .percentage{
            width: 100%;
            background: white;
            height: 1rem;
            border-radius: 10px;
            -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
            box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
            div{

                height: 1rem;
                border-radius: 10px;
                background-image: linear-gradient(to right, #072142, #8c2b7a 42%, $primary-color);
            }
        }
    }

    @include tablet(){
        .skill-description{
            grid-template-columns: repeat(auto-fill, 400px);
            padding: 1rem 2rem;
            .skill{
                margin: .5rem 0;
            }
            .description{
                font-size: 1.5rem;
            }

        }


    }

    //     .skill{
    //         margin: .5rem 0;
    //     }
    //     .description{
    //         font-size: 1rem;
    //         color: #072142;
    //     }

    // }
}