
/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Ubuntu', sans-serif;

// media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// colors
$primary-color: #ff5500;
// $primary-color: #ff4d5a;
